.blockTagsForSpecificUserWrap{
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
  }
  .controlBar{
    padding:5px 0;
    .textButton {
      border: none;
      background: none;
      outline: none;
      padding: 1px 6px;
      cursor: pointer;
    }
  }

  .addWrap{
    display: none;
  }

  .settingItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0;
    .inputItem{
      margin-right: 10px;
      .label{
        color:#444;
      }
      &.uid{
        input{
          width: auto;
        }
      }
      &.tags{
        flex:1;
        display: flex;
        input{
          flex:1;
        }
      }
      span{
        padding-right: 10px;
      }
    }

    .btns{
      & button:first-child{
        display: inline-block;
        margin-right: 6px;
      }
    }
  }
}