.centerWrap {
  background-color: #fff;
  box-shadow: #36a2e1 0px 0px 25px;
  box-sizing: border-box;
  position: fixed;
  z-index: 5000;
  font-size: 14px;
  display: none;
  width: 700px;
  left: -350px;
  margin-left: 50%;
  top: 4vh;
  color: #444;
  padding: 20px 0px;
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Noto Sans SC', 'Noto Sans', 'Segeo UI Mono', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.centerWrap hr {
  border: none;
  height: 1px;
  background: none;
  margin: 5px 0;
}
.centerWrap p,
.centerWrap div,
.centerWrap span,
.centerWrap ul,
.centerWrap li,
.centerWrap input {
  padding: 0;
  margin: 0;
}
.centerWrap p {
  line-height: 26px;
  min-height: 26px;
  height: auto;
  margin: 0;
}
.centerWrap .tip {
  color: #999;
}
.centerWrap .blue {
  color: #0ea8ef !important;
}
.centerWrap .has_tip:hover,
.centerWrap label:hover {
  color: #0ea8ef !important;
}
.centerWrap .fwb {
  font-weight: 700;
}
.centerWrap .gray1 {
  color: #777;
}
.centerWrap .hidden {
  display: none;
}
.centerWrap .textButton {
  border: none;
  background: none;
  padding: 1px 6px;
  cursor: pointer;
}
.centerWrap .grayButton {
  background: #eee;
  border-radius: 3px;
  padding: 0px 6px;
  margin-right: 8px;
}
.centerWrap .grayButton:hover {
  background: #29b3f3;
  color: #fff !important;
}
.centerWrap .centerWrap_head {
  padding: 0 25px;
}
.centerWrap .centerWrap_head img {
  width: 16px;
  vertical-align: inherit;
}
.centerWrap .centerWrap_head .centerWrap_title {
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  position: relative;
}
.centerWrap .centerWrap_head .btns {
  position: absolute;
  right: 0;
  top: 0;
}
.centerWrap .centerWrap_head .btns .centerWrap_top_btn {
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #666;
  fill: #666;
  user-select: none;
  display: inline-block;
  vertical-align: baseline;
}
.centerWrap .centerWrap_head .btns .centerWrap_top_btn.update {
  display: none;
}
.centerWrap .centerWrap_head .btns .centerWrap_top_btn.github_icon {
  color: #777;
}
.centerWrap .centerWrap_head .btns .centerWrap_top_btn .icon {
  vertical-align: initial;
  padding-top: 5px;
}
.centerWrap .centerWrap_tabs {
  display: flex;
  padding: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  position: relative;
}
.centerWrap .centerWrap_tabs .title {
  text-align: center;
  width: 100%;
  flex: 1;
  font-size: 1.1em;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  position: relative;
}
.centerWrap .centerWrap_tabs .title.active {
  color: #0ea8ef;
}
.centerWrap .centerWrap_tabs .title:hover {
  color: #0ea8ef;
}
.centerWrap .centerWrap_tabs .title_active {
  position: absolute;
  width: 33.3%;
  height: 2px;
  background: #29b3f3;
  top: 36px;
  left: 0%;
  z-index: 1001;
  transition: left 0.2s;
}
.centerWrap .centerWrap_tabs .title_active.tab1 {
  left: 0%;
}
.centerWrap .centerWrap_tabs .title_active.tab2 {
  left: 33.3%;
}
.centerWrap .centerWrap_tabs .title_active.tab3 {
  left: 66.6%;
}
.centerWrap .centerWrap_con {
  overflow: auto;
  max-height: 76vh;
  padding-left: 25px;
}
.centerWrap .centerWrap_con slot[data-name='namingBtns'] button,
.centerWrap .centerWrap_con slot[data-name='exportResult'] button {
  display: none;
}
.centerWrap .centerWrap_con .showFileNameTip {
  height: 26px;
}
.centerWrap .centerWrap_con .centerWrap_top_btn:hover,
.centerWrap .centerWrap_con .centerWrap_top_btn:focus,
.centerWrap .centerWrap_con .showFileNameTip:hover,
.centerWrap .centerWrap_con .showFileNameTip:focus,
.centerWrap .centerWrap_con .textButton:hover,
.centerWrap .centerWrap_con .textButton:focus,
.centerWrap .centerWrap_con .help_bar > *:hover,
.centerWrap .centerWrap_con .updateActiveClass {
  color: #0ea8ef !important;
  fill: #0ea8ef !important;
}
.centerWrap .centerWrap_con .grayButton:hover,
.centerWrap .centerWrap_con .grayButton:focus {
  background: #29b3f3;
  color: #fff !important;
}
.centerWrap .centerWrap_con .settingForm {
  position: relative;
  max-width: 650px;
  /*--------美化作为开关的复选框------------*/
  /*--------美化普通的复选框------------*/
  /*--------美化单选框------------*/
}
.centerWrap .centerWrap_con .settingForm p.option {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 4px;
  margin: 2px 0;
}
.centerWrap .centerWrap_con .settingForm p.option > * {
  line-height: 26px;
  flex-shrink: 0;
}
.centerWrap .centerWrap_con .settingForm p.option .beautify_switch,
.centerWrap .centerWrap_con .settingForm p.option .beautify_checkbox {
  margin: 6px 0;
}
.centerWrap .centerWrap_con .settingForm p.option .beautify_radio {
  margin: 7px 0;
}
.centerWrap .centerWrap_con .settingForm p.option .subOptionWrap {
  max-width: 100%;
  min-height: 26px;
  line-height: 26px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-grow: 1;
  column-gap: 4px;
}
.centerWrap .centerWrap_con .settingForm p.option .subOptionWrap > * {
  line-height: 26px;
}
.centerWrap .centerWrap_con .settingForm p.option[data-no="12"] .subOptionWrap,
.centerWrap .centerWrap_con .settingForm p.option[data-no="35"] .subOptionWrap,
.centerWrap .centerWrap_con .settingForm p.option[data-no="43"] .subOptionWrap {
  flex-basis: 100%;
}
.centerWrap .centerWrap_con .settingForm p.option.settingCategoryName {
  margin: 12px 0;
  display: block !important;
}
.centerWrap .centerWrap_con .settingForm p.option .setinput_style1 {
  width: 50px;
  min-width: 50px;
  font-size: 14px !important;
  height: 20px;
  line-height: 20px;
  margin: 3px 0;
  text-indent: 4px;
  box-sizing: border-box;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  outline: 0;
  padding: 0 !important;
  background: none !important;
}
.centerWrap .centerWrap_con .settingForm p.option .setinput_style1:focus,
.centerWrap .centerWrap_con .settingForm p.option .setinput_style1:hover {
  border-bottom: 1px solid #0096fa !important;
}
.centerWrap .centerWrap_con .settingForm p.option .setinput_style1.w100 {
  width: 100px;
}
.centerWrap .centerWrap_con .settingForm p.option .setinput_style1.postDate {
  width: 190px;
}
.centerWrap .centerWrap_con .settingForm p.option .setinput_style1.bmkNum {
  width: 60px;
}
.centerWrap .centerWrap_con .settingForm select {
  width: 80px;
  height: 22px;
  margin: 2px 0;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
.centerWrap .centerWrap_con .settingForm option {
  font-size: 14px !important;
  line-height: 24px;
}
.centerWrap .centerWrap_con .settingForm p * {
  line-height: 1;
}
.centerWrap .centerWrap_con .settingForm p strong,
.centerWrap .centerWrap_con .settingForm p .key {
  vertical-align: baseline !important;
}
.centerWrap .centerWrap_con .settingForm p button,
.centerWrap .centerWrap_con .settingForm .controlBar span {
  vertical-align: middle;
}
.centerWrap .centerWrap_con .settingForm .centerPanelTextArea {
  font-family: 'Noto Sans SC', 'Noto Sans', 'Segeo UI Mono', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  color: #29b3f3;
  font-size: 14px;
  background: transparent;
  padding: 0;
  flex-basis: 100%;
  flex-grow: 1;
  min-height: 26px;
  line-height: 1.7;
  height: auto;
  max-height: 200px;
  resize: none;
  border: none;
  border-bottom: 1px solid #ccc;
}
.centerWrap .centerWrap_con .settingForm .flexTip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.centerWrap .centerWrap_con .settingForm .flexTip .right {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.centerWrap .centerWrap_con .settingForm .tipWithBtn .left {
  display: inline-block;
}
.centerWrap .centerWrap_con .settingForm .tipWithBtn .right {
  display: inline-block;
  margin-left: 20px;
}
.centerWrap .centerWrap_con .settingForm .need_beautify {
  display: none;
}
.centerWrap .centerWrap_con .settingForm label {
  cursor: pointer;
  padding-right: 5px;
}
.centerWrap .centerWrap_con .settingForm .tabsContnet {
  display: none;
}
.centerWrap .centerWrap_con .settingForm .tabsContnet:first-child {
  display: block;
}
.centerWrap .centerWrap_con .settingForm label.active {
  color: #29b3f3;
}
.centerWrap .centerWrap_con .settingForm .beautify_switch {
  display: inline-flex;
  align-items: center;
  width: 24px;
  height: 14px;
  position: relative;
  border-radius: 7px;
  background: #ccc;
  cursor: pointer;
  transition: all 0.3s;
}
.centerWrap .centerWrap_con .settingForm .beautify_switch::before {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  margin-left: 0px;
  transition: all 0.3s;
}
.centerWrap .centerWrap_con .settingForm .checkbox_switch:checked + .beautify_switch {
  background: #29b3f3;
}
.centerWrap .centerWrap_con .settingForm .checkbox_switch:checked + .beautify_switch::before {
  margin-left: 11px;
}
.centerWrap .centerWrap_con .settingForm .beautify_checkbox {
  display: inline-block;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  margin: 6px 0;
  background-color: #fff;
  z-index: 1;
  transition: all 0.3s;
  cursor: pointer;
}
.centerWrap .centerWrap_con .settingForm .beautify_checkbox::after {
  box-sizing: content-box;
  content: '';
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: all 0.2s;
  transform-origin: center;
}
.centerWrap .centerWrap_con .settingForm .checkbox_common:checked + .beautify_checkbox {
  background: #29b3f3;
  border: 1px solid #29b3f3;
}
.centerWrap .centerWrap_con .settingForm .beautify_checkbox:hover {
  border: 1px solid #29b3f3;
}
.centerWrap .centerWrap_con .settingForm .checkbox_common:checked + .beautify_checkbox::after {
  transform: rotate(45deg) scaleY(1);
}
.centerWrap .centerWrap_con .settingForm .checkbox_common:focus + .beautify_checkbox {
  border: 1px solid #29b3f3;
}
.centerWrap .centerWrap_con .settingForm .beautify_radio {
  border: 1px solid #dcdfe6;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
.centerWrap .centerWrap_con .settingForm .beautify_radio::after {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.15s ease-in;
}
.centerWrap .centerWrap_con .settingForm .radio:checked + .beautify_radio {
  background: #29b3f3;
  border: 1px solid #29b3f3;
}
.centerWrap .centerWrap_con .settingForm .beautify_radio:hover {
  border: 1px solid #29b3f3;
}
.centerWrap .centerWrap_con .settingForm .radio:checked + .beautify_radio::after {
  transform: translate(-50%, -50%) scale(1);
}
.centerWrap .centerWrap_con .settingForm li {
  list-style: none;
}
.centerWrap .centerWrap_con .settingForm .download_progress1,
.centerWrap .centerWrap_con .settingForm .right1 {
  position: relative;
}
.centerWrap .centerWrap_con .settingForm .progressBar1,
.centerWrap .centerWrap_con .settingForm .right1 {
  width: 100%;
}
.centerWrap .centerWrap_con .settingForm .fileNameRule {
  height: 26px;
  min-width: 310px;
}
.centerWrap .centerWrap_con .settingForm .setinput_tag {
  min-width: 300px;
  flex-grow: 1;
}
.centerWrap .centerWrap_con .settingForm .showFileNameTip {
  cursor: pointer;
}
.centerWrap .centerWrap_con .settingForm .fileNameTip {
  display: none;
  padding-top: 5px;
}
.centerWrap .centerWrap_con .settingForm .centerWrap_btns {
  padding: 8px 0 0;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}
.centerWrap .centerWrap_con .settingForm .centerWrap_btns button {
  background-color: #0ea8ef;
  box-sizing: border-box;
  border: none;
  width: 150px;
  margin-right: 10px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 8px;
  vertical-align: top;
  box-shadow: 0 1px 6px #eee;
}
.centerWrap .centerWrap_con .settingForm .centerWrap_btns button:hover,
.centerWrap .centerWrap_con .settingForm .centerWrap_btns button:focus {
  opacity: 0.8;
}
.centerWrap .centerWrap_con .settingForm .centerWrap_btns button,
.centerWrap .centerWrap_con .settingForm .progressTip {
  color: #fff;
  font-size: 14px;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap {
  display: none;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .total {
  display: flex;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .total .text {
  margin-right: 10px;
  line-height: 22px;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .total .right1 {
  flex: 1;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progress,
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBar {
  border-radius: 11px;
  height: 22px;
  overflow: hidden;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .right1 {
  display: inline-block;
  height: 22px;
  vertical-align: middle;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBar {
  position: absolute;
  background: #6792a2;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progress {
  background: #0eb3f3;
  transition: 0.15s;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressTip {
  position: absolute;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progress1 {
  width: 0;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressTip1 {
  width: 100%;
  text-align: center;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .totalNumberWrap {
  position: absolute;
  height: 22px;
  line-height: 22px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .totalNumberWrap span {
  position: initial;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBarList {
  padding-top: 5px;
  margin: 0;
  padding-left: 0;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBarList .downloadBar {
  position: relative;
  width: 100%;
  padding: 5px 0;
  height: 22px;
  box-sizing: content-box;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBarList .progressBar2 {
  width: 100%;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBarList .progress2 {
  width: 0;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBarList .progressTip2 {
  width: 100%;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBarList .fileName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
  padding: 0 10px;
  flex: 1;
}
.centerWrap .centerWrap_con .settingForm .progressBarWrap .progressBarList .loadedWrap {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font: status-bar;
}
.centerWrap .centerWrap_con .settingForm .download_area {
  display: none;
}
.centerWrap .centerWrap_con .settingForm .download_area .download_status_text_wrap {
  line-height: 26px;
  margin-bottom: 4px;
}
.centerWrap .centerWrap_con .settingForm .download_area .download_status_text_wrap > * {
  padding-right: 5px;
}
.centerWrap .centerWrap_con .settingForm .download_area .download_status_text_wrap .down_status {
  color: #0ea8ef;
  display: inline-block;
}
.centerWrap .centerWrap_con .settingForm .settingNameStyle1 {
  cursor: pointer;
  margin-right: 4px;
  max-width: 650px;
}
.centerWrap .centerWrap_con .settingForm .verticalSplit {
  display: inline-block;
  width: 0px;
  height: 16px;
  margin: 5px 4px;
  border-right: 1px solid #ccc;
}
.centerWrap .centerWrap_con .settingForm .saveNamingRuleWrap {
  display: inline-block;
  position: relative;
}
.centerWrap .centerWrap_con .settingForm .saveNamingRuleWrap button {
  height: 26px;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList {
  position: absolute;
  right: -30px;
  top: 25px;
  z-index: 1002;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: #2ca6df 0px 0px 10px;
  display: none;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList li {
  padding: 2px 0 2px 0;
  color: #555;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  min-width: 500px;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList li > * {
  min-height: 30px;
  line-height: 30px;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList li:hover {
  background: #e3f5ff;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList .rule {
  flex: 1;
  line-height: 30px !important;
  padding-left: 20px;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList li:first-child {
  padding-top: 5px;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList li:last-child {
  padding-bottom: 5px;
}
.centerWrap .centerWrap_con .settingForm .namingRuleList .delete {
  padding: 0 15px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.3em;
  color: #999;
  font-weight: lighter;
}
.centerWrap .centerWrap_con .settingForm .setinput_style1,
.centerWrap .centerWrap_con .settingForm .setinput_style1:focus,
.centerWrap .centerWrap_con .settingForm .setinput_style1:hover {
  background: transparent !important;
}
.centerWrap .centerWrap_con .help_bar {
  line-height: 24px;
}
.centerWrap .centerWrap_con .help_bar > * {
  padding: 0 3px;
}
.centerWrap .settingCategoryName {
  position: relative;
  text-align: center;
  margin: 6px auto;
}
.centerWrap .settingCategoryName span {
  display: inline-block;
  height: 26px;
  padding: 0px 20px;
  line-height: 26px !important;
  font-size: 1.1em;
  color: #666;
  font-weight: bold;
  background-color: #fff;
  border-radius: 4px;
}
.centerWrap .settingCategoryName::after {
  display: block;
  content: '';
  position: absolute;
  top: 14px;
  width: 100%;
  height: 1px;
  background-color: #eee;
  z-index: -1;
}
.centerWrap.mobile {
  width: 90vw;
  left: -45vw;
  top: 10vw;
  font-size: 16px;
  font-family: sans-serif;
}
.centerWrap.mobile .centerWrap_head .centerWrap_title {
  line-height: 40px;
  font-size: 18px;
}
.centerWrap.mobile .centerWrap_head .btns .centerWrap_top_btn {
  font-size: 26px;
  width: 30px;
  height: 40px;
  line-height: 40px;
}
.centerWrap.mobile .centerWrap_head .btns .github_icon,
.centerWrap.mobile .centerWrap_head .btns .wiki_url {
  display: none;
}
.centerWrap.mobile .centerWrap_con {
  padding: 0 5vw;
}
.centerWrap.mobile p {
  line-height: 32px;
}
.centerWrap.mobile .centerWrap_con .settingForm .setinput_style1 {
  font-size: 16px !important;
}
.centerWrap.mobile .centerWrap_tabs .title {
  font-weight: inherit;
}
.centerWrap.mobile .centerWrap_con .settingForm .centerWrap_btns button {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
}
.theme-dark.centerWrap {
  background: #222;
  box-shadow: #10506e 0px 0px 15px;
  color: #fff;
}
.theme-dark.centerWrap button,
.theme-dark.centerWrap .tip {
  color: #fff;
}
.theme-dark.centerWrap .gray1 {
  color: #bbb;
}
.theme-dark.centerWrap .blue,
.theme-dark.centerWrap .has_tip:hover,
.theme-dark.centerWrap label:hover,
.theme-dark.centerWrap .title.active,
.theme-dark.centerWrap .title:hover,
.theme-dark.centerWrap .down_status {
  color: #29b3f3 !important;
}
.theme-dark.centerWrap .centerWrap_top_btn:hover,
.theme-dark.centerWrap .centerWrap_top_btn:focus,
.theme-dark.centerWrap .showFileNameTip:hover,
.theme-dark.centerWrap .showFileNameTip:focus,
.theme-dark.centerWrap .textButton:hover,
.theme-dark.centerWrap .textButton:focus,
.theme-dark.centerWrap .help_bar > *:hover,
.theme-dark.centerWrap .updateActiveClass {
  color: #29b3f3 !important;
  fill: #29b3f3 !important;
}
.theme-dark.centerWrap .grayButton {
  background-color: #999;
}
.theme-dark.centerWrap .grayButton:hover,
.theme-dark.centerWrap .grayButton:focus {
  background: #29b3f3;
  color: #fff !important;
}
.theme-dark.centerWrap .saveNamingRuleWrap {
  color: #fff;
}
.theme-dark.centerWrap .saveNamingRuleWrap button {
  color: #fff;
}
.theme-dark.centerWrap .saveNamingRuleWrap .namingRuleList {
  background: #222;
  box-shadow: #10506e 0px 0px 10px;
}
.theme-dark.centerWrap .saveNamingRuleWrap .namingRuleList li {
  color: #fff;
}
.theme-dark.centerWrap .saveNamingRuleWrap .namingRuleList li:hover {
  background: #333;
}
.theme-dark.centerWrap .centerWrap_btns button {
  box-shadow: none !important;
}
.theme-dark.centerWrap .settingCategoryName span {
  color: #fff;
  background-color: #222;
}
.downloadError {
  color: #ffa0a0;
}
.patronText {
  display: none;
}
.xzBG.centerWrap {
  text-shadow: #003247 0px 0px 2px;
  box-shadow: #10506e 0px 0px 15px;
  background: #222;
  color: #fff;
}
.xzBG.centerWrap button,
.xzBG.centerWrap .tip {
  color: #fff;
}
.xzBG.centerWrap .gray1,
.xzBG.centerWrap .centerWrap_top_btn {
  color: #ddd !important;
  text-shadow: #003247 0px 0px 2px;
}
.xzBG.centerWrap .blue,
.xzBG.centerWrap .has_tip:hover,
.xzBG.centerWrap label,
.xzBG.centerWrap label:hover,
.xzBG.centerWrap .title.active,
.xzBG.centerWrap .title:hover,
.xzBG.centerWrap .down_status,
.xzBG.centerWrap .centerPanelTextArea,
.xzBG.centerWrap .download_status_text_wrap span {
  color: #fff !important;
}
.xzBG.centerWrap .centerWrap_top_btn:hover,
.xzBG.centerWrap .centerWrap_top_btn:focus,
.xzBG.centerWrap .showFileNameTip:hover,
.xzBG.centerWrap .showFileNameTip:focus,
.xzBG.centerWrap .textButton:hover,
.xzBG.centerWrap .textButton:focus,
.xzBG.centerWrap .help_bar > *:hover,
.xzBG.centerWrap .updateActiveClass {
  color: #fff !important;
  fill: #fff !important;
}
.xzBG.centerWrap .grayButton {
  background-color: #666;
}
.xzBG.centerWrap .grayButton:hover,
.xzBG.centerWrap .grayButton:focus {
  background: #29b3f3;
  color: #fff !important;
}
.xzBG.centerWrap .centerWrap_con .settingForm select {
  background: transparent;
}
.xzBG.centerWrap .progressBar {
  background-color: #6e9dad !important;
}
.xzBG.centerWrap .saveNamingRuleWrap {
  color: #fff;
}
.xzBG.centerWrap .saveNamingRuleWrap button {
  color: #fff;
  text-shadow: none;
}
.xzBG.centerWrap .saveNamingRuleWrap .namingRuleList {
  text-shadow: none;
  opacity: 0.9 !important;
}
.xzBG.centerWrap .centerWrap_btns button {
  box-shadow: none !important;
}
.xzBG.centerWrap.showBlobKeywords .key {
  color: #fff;
}
.xzBG.centerWrap .settingCategoryName span {
  color: #fff;
  background-color: #777;
}
.showBlobKeywords .key {
  font-weight: bold;
  color: #0ea8ef;
}
.theme-dark.showBlobKeywords .key {
  color: #42c3ff;
}
.lang_zh-cn input[name='workDirNameRule'] {
  width: 200px !important;
}
.lang_zh-cn .fileNameRule {
  min-width: 340px !important;
}
.lang_zh-tw input[name='workDirNameRule'] {
  width: 200px !important;
}
.lang_zh-tw .fileNameRule {
  min-width: 340px !important;
}
.lang_en input[name='workDirNameRule'] {
  width: 130px !important;
}
.lang_ja input[name='workDirNameRule'] {
  width: 170px !important;
}
.lang_ko input[name='workDirNameRule'] {
  width: 240px !important;
}
.lang_ko button[type='button'] {
  word-break: keep-all;
}
.lang_ru .namingRuleList {
  right: auto !important;
  left: 0px !important;
}
.lang_ru * {
  font-family: 'Noto Sans SC', 'Noto Sans', 'Segeo UI Mono', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
@media (max-width: 414px) {
  .centerWrap.mobile .centerWrap_con .settingForm .centerWrap_btns button {
    width: 142px;
    margin-right: 8px;
    padding: 12px 8px;
  }
  .centerWrap .centerWrap_con .settingForm .setinput_style1.fileNameRule {
    width: 290px !important;
    min-width: 290px !important;
  }
}
@media (max-width: 388px) {
  .centerWrap.mobile .centerWrap_con .settingForm .centerWrap_btns button {
    width: 134px;
    margin-right: 8px;
    padding: 12px 6px;
  }
}
