.DoNotDownloadLastFewImagesWarp input::-webkit-input-placeholder,
.DoNotDownloadLastFewImagesWarp textarea::-webkit-input-placeholder {
  color: #999;
}
.DoNotDownloadLastFewImagesWarp .icon {
  font-size: 1.2em;
}
.DoNotDownloadLastFewImagesWarp .textButton {
  border: none;
  background: none;
  outline: none;
  padding: 1px 3px;
  cursor: pointer;
  color: #666;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.DoNotDownloadLastFewImagesWarp .textButton.add {
  padding: 1px 8px;
}
.DoNotDownloadLastFewImagesWarp .controlBar {
  display: inline;
  padding: 5px 0;
  color: #666;
}
.DoNotDownloadLastFewImagesWarp .controlBar * {
  line-height: 26px;
}
.DoNotDownloadLastFewImagesWarp .addWrap {
  display: none;
}
.DoNotDownloadLastFewImagesWarp .addWrap button.cancel .icon {
  font-size: 1.3em;
}
.DoNotDownloadLastFewImagesWarp .addWrap .addUidInput {
  max-width: 120px;
}
.DoNotDownloadLastFewImagesWarp .settingItem {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
  padding: 5px 0;
}
.DoNotDownloadLastFewImagesWarp .settingItem .inputItem {
  margin-right: 10px;
}
.DoNotDownloadLastFewImagesWarp .settingItem .inputItem .label {
  color: #444;
}
.DoNotDownloadLastFewImagesWarp .settingItem .inputItem.uid input {
  width: auto !important;
  min-width: 100px !important;
}
.DoNotDownloadLastFewImagesWarp .settingItem .inputItem.name {
  flex: 1;
  display: flex;
  min-width: 100px;
  max-width: 220px;
}
.DoNotDownloadLastFewImagesWarp .settingItem .inputItem.name input {
  flex: 1;
  width: auto !important;
}
.DoNotDownloadLastFewImagesWarp .settingItem .inputItem span {
  padding-right: 4px;
  line-height: 26px;
}
.DoNotDownloadLastFewImagesWarp .settingItem .btns {
  display: flex;
  padding-right: 20px;
}
.DoNotDownloadLastFewImagesWarp .settingItem .btns button:first-child {
  margin-right: 6px;
}
.DoNotDownloadLastFewImagesWarp
  .settingItem
  .btns
  button[data-updaterule]
  .icon {
  font-size: 1.4em;
}
.DoNotDownloadLastFewImagesWarp .listWrap {
  display: flex;
  flex-wrap: wrap;
}
.DoNotDownloadLastFewImagesWarp .listWrap .settingItem button.refresh svg {
  position: relative;
  top: 1px;
}
.theme-dark.DoNotDownloadLastFewImages div,
.theme-dark.DoNotDownloadLastFewImages span {
  color: #fff !important;
}
.theme-dark.DoNotDownloadLastFewImages input::-webkit-input-placeholder,
.theme-dark.DoNotDownloadLastFewImages textarea::-webkit-input-placeholder {
  color: #ddd;
}
.xzBG .DoNotDownloadLastFewImagesWarp div,
.xzBG .DoNotDownloadLastFewImagesWarp span {
  color: #fff !important;
}
.xzBG .DoNotDownloadLastFewImagesWarp input::-webkit-input-placeholder,
.xzBG .DoNotDownloadLastFewImagesWarp textarea::-webkit-input-placeholder {
  color: #ddd;
}
