.logWrap {
  font-family: 'Noto Sans SC', 'Noto Sans', 'Segeo UI', 'Segeo UI Mono', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  position: relative;
  z-index: 0;
  width: 100%;
  display: none;
  color: #333;
  background: #fff;
}
.logContent {
  width: 100%;
  max-width: 950px;
  max-height: 300px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 14px;
}
.logContent span {
  line-height: 1.4;
  word-break: break-word;
}
.logContent br {
  display: inline;
}
.logContent a {
  color: #0ea8ef;
}
.logBtn {
  font-family: 'Noto Sans SC', 'Noto Sans', 'Segeo UI', 'Segeo UI Mono', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  background-color: #29b3f3;
  color: white;
  padding: 8px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  transition: opacity 0.3s;
}
.logBtn.show {
  opacity: 1;
  pointer-events: initial;
}
.theme-dark.logWrap {
  background: #222;
  color: #fff;
}
.xzBG.logWrap {
  background: #222;
  color: #fff;
  text-shadow: #003247 0px 0px 2px;
}
.xzBG.logWrap .logContent * {
  color: #fff !important;
}
.xzBG.logWrap .xzBGLayer {
  filter: blur(2px);
}
.logWrap.mobile {
  font-size: 16px;
  font-family: sans-serif;
  padding: 10px 10px;
}
