.xz_msg_box {
  background: #fff;
  box-shadow: 0 0 15px #2ca6df;
  position: fixed;
  z-index: 9999;
  min-width: 500px;
  max-width: 700px;
  padding: 30px;
  border-radius: 12px;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-family: "Noto Sans SC", "Noto Sans", "Segeo UI Mono", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.xz_msg_box p {
  margin: 0;
}
.xz_msg_box .title {
  font-size: 17px;
  font-weight: bold;
  color: #0ea8ef;
}
.xz_msg_box .blue {
  color: #0ea8ef;
}
.xz_msg_box .content {
  padding: 0;
  margin: 20px 0;
  max-height: 60vh;
  overflow: auto;
  font-size: 14px;
  line-height: 1.7;
  color: #474747;
  text-align: left;
}
.xz_msg_box .btn {
  cursor: pointer;
  background: #0ea8ef;
  box-shadow: #2ca6df 1px 1px 1px;
  color: #fff;
  border: none;
  text-align: center;
  padding: 7px 20px;
  border-radius: 6px;
}
.xz_msg_box .btn:hover {
  font-weight: bold;
}
.xz_msg_box a {
  color: #0ea8ef;
}
.theme-dark.xz_msg_box {
  background: #222;
  box-shadow: #10506e 0px 0px 15px;
}
.theme-dark.xz_msg_box .title {
  color: #fff;
}
.theme-dark.xz_msg_box .content {
  color: #eee;
  text-shadow: 1px 1px black;
}
.xzBG.xz_msg_box {
  background: #222;
  box-shadow: #10506e 0px 0px 15px;
  color: #fff;
  transition: none;
}
.xzBG.xz_msg_box * {
  color: #fff;
}
.xzBG.xz_msg_box p {
  color: #fff !important;
}
.xzBG.xz_msg_box a {
  color: #c7e9ff !important;
}
.xzBG.xz_msg_box .content {
  text-shadow: #003247 1px 1px 1px;
}
.xzBG.xz_msg_box .xzBGLayer {
  filter: blur(1px);
  border-radius: 12px;
}
.xz_msg_box.mobile {
  min-width: inherit;
  width: 86vw;
  max-width: inherit;
  padding: 5vw 3vw;
  top: 6vh;
  font-size: 16px;
  font-family: sans-serif;
}
