.outputWrap {
  background: var(--settings-panel-bg);
  font-family: var(--pixiv-font-family);
  box-sizing: border-box;
  padding: 24px 30px;
  width: 50vw;
  max-width: 700px;
  border-radius: 15px;
  z-index: 9999;
  box-shadow: 0 0 15px var(--box-shadow-blue);
  display: none;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  p {
    margin: 0;
    padding: 0;
  }

  &::selection {
    background: var(--theme-blue);
    color: #fff;
  }

  .outputHeader {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    min-height: 28px;
    column-gap: 12px;
  }

  .outputTitle {
    grid-column: 2;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.3;
    color: var(--blue-buttons-bg);
  }

  .outputClose {
    grid-column: 3;
    justify-self: end;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 28px;
    width: 28px;
    z-index: 9999;
    text-align: center;
    color: #888;
    border-radius: 6px;
    transition: background-color 0.2s;

    &:hover {
      color: var(--theme-blue);
      background: #eef7ff;
    }

    svg {
      font-size: 22px;
    }
  }

  .outputContent {
    transition: 0.3s;
    font-size: 15px;
    margin-top: 20px;
    padding: 5px 10px;
    overflow: auto;
    max-height: 350px;
    line-height: 26px;
    min-height: 100px;
    word-break: break-all;
    color: var(--settings-panel-text);

    p.result {
      margin-bottom: 10px;
    }

    .color999 {
      color: #999;
    }

    .colorFolder {
      color: var(--blue-buttons-bg);
    }

    .color666 {
      color: #666;
    }
  }

  .outputFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .outputCopy {
    padding: 7px 20px;
    line-height: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    margin-top: 20px;
    background: var(--blue-buttons-bg);
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

.theme-dark.outputWrap {
  background: var(--settings-panel-bg-dark);
  box-shadow: var(--dark-box-shadow);

  .outputClose {
    &:hover {
      background: #193e5b;
    }
  }

  .outputContent {
    color: #fff;

    & * {
      color: #fff;
    }
  }
}

.xzBG.outputWrap {
  background: var(--settings-panel-bg-dark);
  box-shadow: var(--dark-box-shadow);

  .outputClose {
    color: #eee;

    &:hover {
      color: #fff;
      background: var(--white-30);
    }
  }

  .outputTitle {
    color: #fff;
  }

  .outputContent {
    color: #fff;

    p {
      color: #fff;
    }

    .color999 {
      color: #eee;
    }

    .colorFolder {
      color: #d7efff;
    }

    .color000 {
      color: #fff;
    }
  }
}

.outputWrap.mobile {
  padding: 20px;
  width: 92vw;
  font-family: var(--mobile-font-family);
}
