.xz_PreviewWorkDetailPanel {
  background: #fff;
  box-shadow: 0 0 15px #2ca6df;
  position: fixed;
  z-index: 100001;
  min-width: 100px;
  max-height: 60vh;
  overflow: auto;
  padding: 16px 20px;
  border-radius: 8px;
  top: 0;
  left: 0;
  opacity: 0;
}
.xz_PreviewWorkDetailPanel .content {
  margin: 0;
  padding: 0px;
  font-size: 14px;
  line-height: 1.7;
  color: #555;
  text-align: left;
}
.xz_PreviewWorkDetailPanel .content p {
  margin: 4px 0;
}
.xz_PreviewWorkDetailPanel .content .flags span {
  box-sizing: border-box;
  line-height: 18px;
  padding: 3px 6px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
  user-select: none;
}
.xz_PreviewWorkDetailPanel .content .flags .r18 {
  background: #f63d5b;
}
.xz_PreviewWorkDetailPanel .content .flags .ai {
  background: #b036f6;
}
.xz_PreviewWorkDetailPanel .content .title,
.xz_PreviewWorkDetailPanel .content .desc.tags {
  line-height: 22px;
}
.xz_PreviewWorkDetailPanel .content .title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.xz_PreviewWorkDetailPanel .content .tags span {
  padding: 0 4px 0 0;
  word-break: break-word;
}
.xz_PreviewWorkDetailPanel .content .tags .origin a {
  color: #3d7699;
}
.xz_PreviewWorkDetailPanel .content .tags .transl a {
  color: #999;
  font-size: 12px;
}
.xz_PreviewWorkDetailPanel .content .size {
  font-size: 13px;
  color: #888;
}
.xz_PreviewWorkDetailPanel .content .bmk {
  font-size: 12px;
  color: #888;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.xz_PreviewWorkDetailPanel .content .bmk .item {
  padding: 0 12px 0 0;
  display: flex;
  flex-direction: row;
}
.xz_PreviewWorkDetailPanel .content .bmk .item span {
  padding: 0 6px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.xz_PreviewWorkDetailPanel .content .date {
  font-size: 12px;
  color: #999;
}
.xz_PreviewWorkDetailPanel .content .buttons {
  display: flex;
  align-items: center;
}
.xz_PreviewWorkDetailPanel .content .textButton {
  font-size: 12px;
  color: #999;
  background: none;
  padding: 0px 2px;
  margin-right: 6px;
  cursor: pointer;
  border: none;
  height: 2em;
  max-height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.xz_PreviewWorkDetailPanel .content .textButton:hover {
  color: #0ea8ef;
}
.xz_PreviewWorkDetailPanel .content .textButton#copyBtn {
  padding: 0 4px;
}
.xz_PreviewWorkDetailPanel .content .textButton#copyBtn svg {
  width: 1.4em;
  height: 1.4em;
}
.xz_PreviewWorkDetailPanel a {
  color: #0ea8ef;
}
.theme-dark.xz_PreviewWorkDetailPanel {
  background: #222;
  box-shadow: #10506e 0px 0px 15px;
}
.theme-dark.xz_PreviewWorkDetailPanel .content {
  color: #eee;
  text-shadow: 1px 1px black;
}
.theme-dark.xz_PreviewWorkDetailPanel .content .title {
  color: #fff;
}
.theme-dark.xz_PreviewWorkDetailPanel .content .origin a {
  color: #0ea8ef;
}
.theme-dark.xz_PreviewWorkDetailPanel .content .transl a {
  color: #ccc;
}
.theme-dark.xz_PreviewWorkDetailPanel .content .size,
.theme-dark.xz_PreviewWorkDetailPanel .content .bmk {
  color: #ddd;
}
.theme-dark.xz_PreviewWorkDetailPanel .content .date {
  color: #ccc;
}
