#rightButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 1000;
  row-gap: max(0px, calc(5vh - 32px));
  pointer-events: none;
}

.rightButton {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  color: #fff;
  box-sizing: border-box;
  width: 30px;
  height: 32px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
  font-size: 22px;

  &:hover {
    opacity: 0.8;
  }

  & .icon {
    vertical-align: middle;
  }
}

#openSettingsPanelBtn {
  background: #80b9f7;
  background: -webkit-linear-gradient(top, #bce4ff 0%, #35adfd 100%);
}

#showLogBtn {
  background: -webkit-linear-gradient(
    top,
    rgb(130, 204, 255) 0%,
    rgb(28, 150, 232) 100%
  );
}

#quickCrawlBtn {
  background: #0096fa;
  background: -webkit-linear-gradient(top, #47b4ff 0%, #027fd2 100%);
  font-size: 20px;
}

body.mobile {
  #rightButtonContainer {
    row-gap: max(0px, calc(6vh - 32px));
  }
}
