.fastScreenArea {
  text-align: center;
  background: #fff;
  display: none;
}
.fastScreenArea button {
  background: none;
  border: none;
  display: inline-block;
  padding: 10px;
  color: #258fb8;
}
.fastScreenArea button:hover {
  text-decoration: underline;
}
.theme-dark.fastScreenArea {
  text-align: center;
  background: #1f1f1f;
  display: none;
}
.theme-dark.fastScreenArea a {
  display: inline-block;
  padding: 10px;
  color: #fff;
}
.theme-dark.fastScreenArea a:hover {
  text-decoration: underline;
}
.searchList {
  margin: 0;
}
.searchList .searchContent {
  width: 184px;
  margin: 0px;
}
.searchList .searchContent .searchImgArea {
  position: relative;
  margin-bottom: 4px;
  border-radius: 8px;
  overflow: hidden;
}
.searchList .searchContent .searchImgArea .searchImgAreaContent {
  position: relative;
  z-index: 0;
  width: 184px;
  height: 184px;
}
.searchList .searchContent .searchImgArea .searchImgAreaContent .topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  z-index: 1;
  padding: 4px 4px 0px;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .r18Part {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .r18Part
  .child {
  margin-right: 2px;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .r18Part
  .child
  .text {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  padding: 0px 6px;
  border-radius: 3px;
  background: #ff4060;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .multiplePart {
  margin-left: auto;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .multiplePart
  .child {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  height: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  flex: 0 0 auto;
  padding: 0px 6px;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 10px;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .multiplePart
  .child
  .span1 {
  margin-right: 2px;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .multiplePart
  .child
  .span1
  .span2 {
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  align-items: center;
  height: 10px;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .topbar
  .multiplePart
  .child
  .span1
  .span2
  .multipleSvg {
  stroke: none;
  fill: currentcolor;
  width: 9px;
  line-height: 0;
  font-size: 0px;
  vertical-align: middle;
}
.searchList .searchContent .searchImgArea .searchImgAreaContent .imgWrap {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .imgWrap::before {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}
.searchList .searchContent .searchImgArea .searchImgAreaContent .imgWrap img {
  max-height: 550px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  transition: opacity 0.2s ease 0s;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .imgWrap
  .ugoiraPart {
  position: absolute;
  stroke: none;
  fill: #ffffff;
  line-height: 0;
  font-size: 0px;
  vertical-align: middle;
}
.searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent
  .imgWrap
  .ugoiraPart
  .ugoiraCircle {
  fill: #000000;
  fill-opacity: 0.4;
}
.searchList .searchContent .bookmarked {
  color: #ff4060 !important;
  fill: #ff4060 !important;
}
.searchList .searchContent .bookmarked * {
  color: #ff4060 !important;
  fill: #ff4060 !important;
}
.searchList .searchContent .bmkCount {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  padding: 2px 5px;
  border-radius: 5px;
}
.searchList .searchContent .bmkBtnWrap {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 32px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.searchList .searchContent .bmkBtnWrap .bmkBtn {
  display: block;
  box-sizing: content-box;
  color: inherit;
  line-height: 1;
  height: 32px;
  cursor: pointer;
  padding: 0px;
  background: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
.searchList .searchContent .bmkBtnWrap .bmkBtn .bmkBtnSvg {
  box-sizing: border-box;
  line-height: 0;
  font-size: 0px;
  vertical-align: top;
  fill: currentcolor;
  transition:
    color 0.2s ease 0s,
    fill 0.2s ease 0s;
}
.searchList .searchContent .bmkBtnWrap .bmkBtn .bmkBtnSvg .path2 {
  fill: #ffffff;
  transition: fill 0.2s ease 0s;
}
.searchList .searchContent .titleLink {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  color: #1f1f1f;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.2s ease 0s;
}
.searchList .searchContent .titleLink:visited {
  color: #adadad;
}
.searchList .searchContent .bottomBar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
.searchList .searchContent .userInfo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.searchList .searchContent .userInfo .userName {
  display: flex;
  max-width: 164px;
  line-height: 16px;
  font-size: 14px;
  color: #1f1f1f;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
}
#crawlTagListInputWrap {
  display: none;
  background: #fff;
  padding: 6px;
  font-size: 14px;
}
#crawlTagListInputWrap #crawlTagListTextArea {
  box-sizing: border-box;
  display: block;
  width: 600px;
  min-height: 120px;
  line-height: 1.4;
  padding: 4px;
  margin: 0 auto 8px;
}
#crawlTagListInputWrap #crawlTagListTip {
  width: 600px;
  margin: 0 auto 8px;
  color: #666;
}
#crawlTagListInputWrap #crawlTagListBtnsWrap {
  width: 600px;
  margin: 0 auto 8px;
}
#crawlTagListInputWrap #crawlTagListBtnsWrap button {
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  vertical-align: top;
  box-shadow: #eeeeee 0px 2px 6px;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}
#crawlTagListInputWrap #crawlTagListBtnsWrap button:hover,
#crawlTagListInputWrap #crawlTagListBtnsWrap button:active {
  opacity: 0.8;
}
#crawlTagListInputWrap #crawlTagListBtnsWrap #crawlTagListBtn {
  background: #0ea8ef;
}
#crawlTagListInputWrap #crawlTagListBtnsWrap #clearTagListBtn {
  background: #ff4060;
}
#crawlTagListInputWrap #tagListWrap {
  width: 600px;
  margin: 0 auto 8px;
}
#crawlTagListInputWrap #tagListWrap p {
  color: #666;
  margin: 14px 0 12px;
  font-weight: bold;
}
#crawlTagListInputWrap #tagListWrap ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#crawlTagListInputWrap #tagListWrap ul li {
  list-style: none;
  -webkit-text-size-adjust: 100%;
  font-weight: bold;
  font-kerning: normal;
  font-family:
    win-bug-omega,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Ubuntu,
    Cantarell,
    'Noto Sans',
    'Hiragino Kaku Gothic ProN',
    Meiryo,
    sans-serif;
  margin: 0px 8px 12px 0;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  padding-right: 24px;
  padding-left: 24px;
  color: #555;
  background-color: rgba(0, 0, 0, 0.04);
}
