/* 显示更大的缩略图 */
ul li div[data-mouseover] a img {
  position: relative;
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
ul li div[data-mouseover][size='131'] a img {
  max-width: 100%;
}
body[data-page-type='-1'] .cwAKCq {
  width: auto;
}
body[data-page-type='-1'] .jtUPOE {
  display: flex;
  align-items: center;
}
body[data-page-type='-1'] .JaPty,
body[data-page-type='-1'] .liyNwX {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='0'] {
  /* img */
  /* div[width="184"] a div img */
  /* 下载器会尝试给 精选新作 和 已关注用户的作品 的容器添加自定义的 class，避免其频繁改版而失效 */
  /* 推荐作品 li */
  /* 很多新版页面的作品列表都要把 margin 改小一些，从 12 改为 10，否则在 125% 缩放时，因为宽度不够，一排原本能显示 6 个的，变得只能显示 5 个*/
}
body[data-page-type='0'] .bgPpJb,
body[data-page-type='0']
  div.gtm-toppage-thumbnail-illustration-recommend-tag-zone
  > div
  > div,
body[data-page-type='0'] .bYCbxa,
body[data-page-type='0'] .cwAKCq {
  width: auto !important;
}
body[data-page-type='0'] .homeFriendsNewWorks > div,
body[data-page-type='0'] section[data-ga4-label='new_works_content'] > div {
  width: 92vw;
  max-width: 92vw;
}
body[data-page-type='0'] .homeFriendsNewWorks > div li div,
body[data-page-type='0']
  section[data-ga4-label='new_works_content']
  > div
  li
  div {
  width: auto !important;
}
body[data-page-type='0'] .ldgmym {
  width: 92vw;
}
body[data-page-type='0'] .eajBeO {
  width: auto !important;
}
body[data-page-type='0'] li iframe {
  display: none !important;
}
body[data-page-type='0'] .bkRoSP,
body[data-page-type='0'] .fhUcsb,
body[data-page-type='0'] .cCkJMN,
body[data-page-type='0'] .hjtPnz,
body[data-page-type='0'] .jELUak {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body[data-page-type='0'] .jtUPOE,
body[data-page-type='0'] .kAeevZ {
  align-items: center;
}
body[data-page-type='0'] li[size='1'],
body[data-page-type='0'] li[size='1'] > div {
  width: auto !important;
}
body[data-page-type='0'] div[width='184'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='0'] div[width='184'] a div img,
body[data-page-type='0'] .jercGe {
  position: relative;
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='0'] div.gVidFA {
  height: 400px;
}
body[data-page-type='0'] div.gVidFA div[width='184'] a div img {
  max-width: 260px;
  max-height: 260px;
}
body[data-page-type='0'] .homeFriendsNewWorks > div:nth-child(2) {
  --carousel-width: unset !important;
  width: 92vw;
  max-width: 92vw;
}
body[data-page-type='0'] .homeFriendsNewWorks ul {
  align-items: center;
}
body[data-page-type='0'] .homeFriendsNewWorks ul > div,
body[data-page-type='0'] .homeFriendsNewWorks ul > li {
  display: flex !important;
  width: auto;
  max-width: 540px;
  max-height: 600px;
  flex-shrink: 0;
}
body[data-page-type='0'] .homeFriendsNewWorks ul > div > div,
body[data-page-type='0'] .homeFriendsNewWorks ul > li > div {
  display: flex !important;
  flex-direction: column !important;
  width: auto !important;
}
body[data-page-type='0'] .homeFriendsNewWorks ul > div > div > div,
body[data-page-type='0'] .homeFriendsNewWorks ul > li > div > div {
  display: flex !important;
  flex-direction: column !important;
}
body[data-page-type='0'] .homeRecommendedWorksParent,
body[data-page-type='0'] .homeRecommendedWorksULWrapper {
  width: 92vw;
}
body[data-page-type='0'] .homeRecommendedWorks ul > li {
  display: flex !important;
  max-width: 540px;
  max-height: 600px;
  flex-shrink: 0;
  margin: 12px;
}
body[data-page-type='0'] .homeRecommendedWorks ul > li > div {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
body[data-page-type='0'] .homeRecommendedWorks ul > li.novelLI {
  width: 100% !important;
}
body[data-page-type='0']
  .homeRecommendedWorks
  ul
  > li.novelLI
  > div
  > div
  > div:nth-child(1) {
  background-color: #d1bfa2;
}
body[data-page-type='0'] .kxmdLh,
body[data-page-type='0'] .dgeelW,
body[data-page-type='0'] .flkRKs,
body[data-page-type='0'] .jexggF {
  margin: 10px !important;
  width: auto !important;
  max-width: 540px;
  max-height: 600px;
}
body[data-page-type='0'] .contestWorksUL > div > div {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='1'] {
  /* img */
  /* div[width="184"] a div img */
}
body[data-page-type='1'] .gtm-illust-recommend-zone ul,
body[data-page-type='1'] .jELUak {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body[data-page-type='1'] #XZContentWrap,
body[data-page-type='1'] .pEkOH {
  padding: 0;
  width: auto !important;
  max-width: unset !important;
}
body[data-page-type='1'] .hvOssX,
body[data-page-type='1'] #XZContentWrap {
  max-width: 1224px;
  margin: 24px auto 0;
  justify-content: center;
}
body[data-page-type='1'] .kIrKyI,
body[data-page-type='1'] .bgPpJb,
body[data-page-type='1']
  div[data-gtm-recommend-zone='new-illust-detail']
  > div
  > div {
  width: 94vw;
}
body[data-page-type='1'] li[size='1'],
body[data-page-type='1'] li[size='1'] > div {
  width: auto !important;
}
body[data-page-type='1'] div[width='184'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='1'] div[width='184'] a div img {
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='2'] {
  /* 主页、插画、收藏 一栏取消宽度限制 */
  /* 作品列表顶部的 tag 列表取消宽度限制 */
  /* 精选作品的标题栏取消宽度限制 */
  /* img */
  /* div[width="184"] a div img */
}
body[data-page-type='2'] .navBar,
body[data-page-type='2'] .userHomeTagList,
body[data-page-type='2'] .userHomeWrapper,
body[data-page-type='2'] .mdzxv,
body[data-page-type='2'] .gqvfWY,
body[data-page-type='2'] .eVpyzU,
body[data-page-type='2'] .dBbGoM,
body[data-page-type='2'] .cABUbk,
body[data-page-type='2'] .leKCEy,
body[data-page-type='2'] .pGIKk,
body[data-page-type='2'] .hbpcMJ,
body[data-page-type='2'] .eVpyzU {
  width: 92vw;
  max-width: unset;
}
body[data-page-type='2'] div[width='288'],
body[data-page-type='2'] .kXjhXr,
body[data-page-type='2'] .jRyeAs {
  width: 100%;
  height: 100%;
}
body[data-page-type='2'] .dizBQv {
  padding: 0;
}
body[data-page-type='2'] .featuredPadding {
  padding: 0 72px;
}
body[data-page-type='2'] .featuredLI > div {
  flex-direction: column;
  align-items: start;
  max-width: 540px;
  width: auto;
  height: auto;
}
body[data-page-type='2'] .bgPpJb {
  width: auto !important;
}
body[data-page-type='2'] .iHrRmI,
body[data-page-type='2'] .jtUPOE,
body[data-page-type='2'] .gmoaNn {
  align-items: center;
}
body[data-page-type='2'] .fKsmTC,
body[data-page-type='2'] .gYUunk {
  width: 92vw;
}
body[data-page-type='2'] .buGhFj {
  display: flex;
  flex-wrap: wrap;
}
body[data-page-type='2'] .jELUak {
  align-items: center;
}
body[data-page-type='2'] li[size='1'],
body[data-page-type='2'] li[size='1'] > div {
  width: auto !important;
  max-width: 540px;
}
body[data-page-type='2'] div[width='184'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='2'] div[width='184'] a div img,
body[data-page-type='2'] a[data-gtm-value] img {
  position: relative;
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='4'] {
  /* 主页、收藏 一栏取消宽度限制 */
  /* 插画·漫画、小说 分类一栏取消宽度限制 */
  /* 作品列表 取消宽度限制 */
  /* img */
  /* div[width="184"] a div img */
}
body[data-page-type='4'] .worksWrapper,
body[data-page-type='4'] .navBar,
body[data-page-type='4'] .gqvfWY,
body[data-page-type='4'] .bYCbxa,
body[data-page-type='4'] .eVpyzU,
body[data-page-type='4'] .hbpcMJ,
body[data-page-type='4'] .eVpyzU {
  width: 92vw;
  max-width: 100%;
}
body[data-page-type='4'] .bgPpJb,
body[data-page-type='4'] .cDZIoX {
  width: auto !important;
}
body[data-page-type='4'] .jELUak,
body[data-page-type='4'] .jtUPOE {
  align-items: center;
}
body[data-page-type='4'] li[size='1'],
body[data-page-type='4'] li[size='1'] > div {
  width: auto !important;
}
body[data-page-type='4'] div[width='184'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='4'] div[width='184'] a div img {
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='5'] {
  /* 取消宽度限制 */
  /* img */
  /* div[width="184"] a div img */
  /* 下载器预览搜索结果时添加的列表元素 */
}
body[data-page-type='5'] .worksWrapper,
body[data-page-type='5'] .gqvfWY,
body[data-page-type='5'] .bYCbxa,
body[data-page-type='5'] .hbpcMJ {
  width: 92vw;
  max-width: 100%;
}
body[data-page-type='5'] .bgPpJb {
  width: auto !important;
}
body[data-page-type='5'] .jUPNzm,
body[data-page-type='5'] .dizBQv {
  padding: 0 70px;
  max-width: 92vw;
  min-width: unset;
}
body[data-page-type='5'] .worksUL {
  display: flex;
  align-items: center;
}
body[data-page-type='5'] .worksUL > li,
body[data-page-type='5'] .worksUL > li > div {
  width: auto !important;
}
body[data-page-type='5'] div[width='184'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='5'] div[width='184'] a div img {
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='5'] aside ul {
  mask: unset;
}
body[data-page-type='5'] aside li > div,
body[data-page-type='5'] div[width='104'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='5'] #workListWrap {
  display: flex;
}
body[data-page-type='5'] .searchList {
  width: auto !important;
  max-width: 540px;
  max-height: 600px;
}
body[data-page-type='5'] .searchList .searchContent {
  width: auto !important;
}
body[data-page-type='5']
  .searchList
  .searchContent
  .searchImgArea
  .searchImgAreaContent {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='6'] {
  /* img */
}
body[data-page-type='6'] .ranking-items.old {
  padding: 0;
  width: auto !important;
}
body[data-page-type='6'] .ranking-items.old .ranking-item .rank {
  left: 20px;
}
body[data-page-type='6'] .ranking-items.old .ranking-item .data {
  position: absolute;
  top: 20px;
  margin-left: 660px;
  color: #666;
}
body[data-page-type='6'] .ranking-items.old .ranking-item .work_wrapper {
  width: auto !important;
  position: relative;
  left: 0;
  right: 0;
  margin-left: 90px;
  text-align: left;
}
body[data-page-type='6'] ._work.work {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='6'] .ranking-items.old .ranking-item ._thumbnail {
  width: auto !important;
  height: auto !important;
  max-width: 540px;
  max-height: 540px;
}
body[data-page-type='7'] {
  /* img */
}
body[data-page-type='7'] #wrapper,
body[data-page-type='7'] .layout-body,
body[data-page-type='7'] .layout-a,
body[data-page-type='7'] .layout-b {
  width: 92vw;
}
body[data-page-type='7'] .ranking-items.adjust .ranking-item {
  width: auto !important;
  margin: 0 30px 40px;
}
body[data-page-type='7']
  .ranking-items.adjust
  .ranking-item
  .ranking-image-item {
  width: auto !important;
}
body[data-page-type='7'] .ranking-items.adjust .work img {
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='10'] {
  /* img */
  /* div[width="184"] a div img */
}
body[data-page-type='10'] .worksWrapper,
body[data-page-type='10'] .gqvfWY,
body[data-page-type='10'] .bYCbxa,
body[data-page-type='10'] .cwAKCq {
  width: 92vw;
}
body[data-page-type='10'] .worksUL {
  display: flex;
  align-items: center;
}
body[data-page-type='10'] .worksUL > li,
body[data-page-type='10'] .worksUL > li > div {
  width: auto !important;
}
body[data-page-type='10'] div[width='184'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='10'] div[width='184'] a div img {
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='11'] {
  /* img */
  /* div[size="184"] a div img */
}
body[data-page-type='11'] .YXoqY,
body[data-page-type='11'] .ldgmym {
  width: 92vw;
}
body[data-page-type='11'] .worksUL,
body[data-page-type='11'] .fhUcsb,
body[data-page-type='11'] .iXWLAI {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body[data-page-type='11'] .worksUL li,
body[data-page-type='11'] .worksUL li > div {
  width: auto !important;
}
body[data-page-type='11'] div[size='184'],
body[data-page-type='11'] div[size='184'] > div {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='11'] div[size='184'] a div img {
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='11'] .ul-father,
body[data-page-type='11'] .bZWHGA {
  mask-image: unset !important;
  padding: 0 60px;
}
body[data-page-type='11'] .ul-father > div {
  display: none;
}
body[data-page-type='11'] .worksUL,
body[data-page-type='11'] .dHJLGd {
  display: flex;
  flex-wrap: wrap;
  width: 94vw;
}
body[data-page-type='11'] .worksUL li,
body[data-page-type='11'] .foiHAA {
  margin-bottom: 24px;
}
body[data-page-type='11'] .worksUL li > div {
  width: auto !important;
}
body[data-page-type='12'] {
  /* img */
}
body[data-page-type='12'] .ldgmym,
body[data-page-type='12'] .YXoqY,
body[data-page-type='12'] .hairtM {
  width: 92vw;
  max-width: 92vw;
}
body[data-page-type='12'] .fhUcsb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body[data-page-type='12'] .jELUak > li,
body[data-page-type='12'] .jELUak > li > div {
  width: auto !important;
}
body[data-page-type='12'] .cEpkIn {
  position: relative;
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='20'] {
  /* img */
}
body[data-page-type='20'] .gqvfWY,
body[data-page-type='20'] .bYCbxa,
body[data-page-type='20'] .bqInRE {
  width: 92vw;
}
body[data-page-type='20'] .jtFuQW {
  width: 100%;
}
body[data-page-type='20'] section ul,
body[data-page-type='20'] .kAeevZ,
body[data-page-type='20'] .hkzusx {
  align-items: center;
  max-width: 70vw;
  overflow: auto;
  padding-right: 0 !important;
}
body[data-page-type='20'] section ul > div > div > div,
body[data-page-type='20'] .eajBeO,
body[data-page-type='20'] .fLGndj,
body[data-page-type='20'] div[width='184'] {
  width: auto !important;
  height: auto !important;
}
body[data-page-type='20'] .iaqWlq,
body[data-page-type='20'] div[width='184'] img {
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='21'] {
  /* img */
}
body[data-page-type='21'] .fKsmTC {
  width: 92vw;
}
body[data-page-type='21'] .buGhFj,
body[data-page-type='21'] .jlWuvS {
  display: flex;
  flex-wrap: wrap;
}
body[data-page-type='21'] .jlWuvS {
  align-items: center;
}
body[data-page-type='21'] .jELUak > li,
body[data-page-type='21'] .jELUak > li > div {
  width: auto !important;
}
body[data-page-type='21'] .bFEhwX {
  position: relative;
  width: auto !important;
  height: auto !important;
  max-height: 540px;
}
body[data-page-type='23'] .wrapperwrapper > div,
body[data-page-type='23'] .ldgmym,
body[data-page-type='23'] .bYCbxa {
  width: 92vw;
}
body[data-page-type='23'] .hSrLET {
  width: auto !important;
}
body[data-page-type='23'] .worksUL {
  align-items: center;
  max-width: 70vw;
  overflow: auto;
  padding-right: 0 !important;
}
body[data-page-type='23'] .worksUL > div > div > div,
body[data-page-type='23'] div[type='illust'] > div {
  width: auto !important;
  height: auto !important;
}
