.UseDifferentNameRuleIfWorkHasTagWarp input::-webkit-input-placeholder,
.UseDifferentNameRuleIfWorkHasTagWarp textarea::-webkit-input-placeholder {
  color: #999;
}
.UseDifferentNameRuleIfWorkHasTagWarp .icon {
  font-size: 1.2em;
}
.UseDifferentNameRuleIfWorkHasTagWarp .textButton {
  border: none;
  background: none;
  outline: none;
  padding: 1px 3px;
  cursor: pointer;
  color: #666;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.UseDifferentNameRuleIfWorkHasTagWarp .textButton.add {
  padding: 0px 8px;
}
.UseDifferentNameRuleIfWorkHasTagWarp .controlBar {
  display: inline;
  padding: 5px 0;
  color: #666;
}
.UseDifferentNameRuleIfWorkHasTagWarp .controlBar * {
  line-height: 26px;
}
.UseDifferentNameRuleIfWorkHasTagWarp .addWrap {
  display: none;
}
.UseDifferentNameRuleIfWorkHasTagWarp .addWrap button.cancel .icon {
  font-size: 1.3em;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-items: center;
  padding: 5px 0;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .inputItem {
  display: flex;
  margin-right: 10px;
  flex-basis: 40%;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .inputItem .label {
  color: #444;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .inputItem.id {
  flex-basis: 5%;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .inputItem.tags input {
  flex: 1;
  width: auto !important;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .inputItem.rule {
  flex: 1;
  display: flex;
  min-width: 100px;
  max-width: 220px;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .inputItem.rule input {
  flex: 1;
  width: auto !important;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .inputItem span {
  padding-right: 4px;
  line-height: 26px;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .btns {
  display: flex;
  padding-right: 0px;
}
.UseDifferentNameRuleIfWorkHasTagWarp .settingItem .btns button:first-child {
  margin-right: 6px;
}
.UseDifferentNameRuleIfWorkHasTagWarp
  .settingItem
  .btns
  button[data-updaterule]
  .icon {
  font-size: 1.4em;
}
.UseDifferentNameRuleIfWorkHasTagWarp .listWrap {
  display: flex;
  flex-wrap: wrap;
}
.UseDifferentNameRuleIfWorkHasTagWarp .listWrap button.refresh svg {
  position: relative;
  top: 1px;
}
.theme-dark.DoNotDownloadLastFewImages div,
.theme-dark.DoNotDownloadLastFewImages span {
  color: #fff !important;
}
.theme-dark.DoNotDownloadLastFewImages input::-webkit-input-placeholder,
.theme-dark.DoNotDownloadLastFewImages textarea::-webkit-input-placeholder {
  color: #ddd;
}
.xzBG .UseDifferentNameRuleIfWorkHasTagWarp div,
.xzBG .UseDifferentNameRuleIfWorkHasTagWarp span {
  color: #fff !important;
}
.xzBG .UseDifferentNameRuleIfWorkHasTagWarp input::-webkit-input-placeholder,
.xzBG
  .UseDifferentNameRuleIfWorkHasTagWarp
  textarea::-webkit-input-placeholder {
  color: #ddd;
}
