@themeBlue: #0ea8ef;
@beautifyBlue: #29b3f3;
@boxShadowBlue: #2ca6df;
@darkBoxShadow: #10506e;
@pixivFontFamily: 'Noto Sans SC', 'Noto Sans', 'Segeo UI Mono',
  'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
@MobileFontFamily: sans-serif;
